# Temp files
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.vspx
*.psess
*.vsp

# Visual studio files
*.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters

# Cache files
.vs/
*.VC.db
*.VC.VC.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db-shm
*.VC.db-wal
*.VC.opendb

# Misc
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.bak